<div class="wrapper">
  <!-- Va a englobar todo el formulario con la cabecera -->
  <div class="section-registro">
    <div class="body-registro">
      <div class="row mt-3 mb-3">
        <div class="form-group col-12">
          <label class="title-user" for="tipo_usuario">Ingresa los datos del administrador</label>
        </div>
      </div>
      <!-- Campos del formulario -->
      <mat-form-field class="mat-input" appearance="outline">
        <mat-label>ID de administrador</mat-label>
        <input matInput [(ngModel)]="admin.clave_admin" name="id" placeholder="Escribe clave de administrador">
      </mat-form-field>
      <div *ngIf="errors.clave_admin" class="invalid-feedback">{{ errors.clave_admin }}</div>

      <mat-form-field class="mat-input" appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput [(ngModel)]="admin.first_name" placeholder="Escribe nombre">
      </mat-form-field>
      <div *ngIf="errors.first_name" class="invalid-feedback">{{ errors.first_name }}</div>

      <mat-form-field class="mat-input" appearance="outline">
        <mat-label>Apellidos</mat-label>
        <input matInput [(ngModel)]="admin.last_name" placeholder="Escribe apellidos">
      </mat-form-field>
      <div *ngIf="errors.last_name" class="invalid-feedback">{{ errors.last_name }}</div>

      <mat-form-field class="mat-input" appearance="outline">
        <mat-label>Correo electrónico</mat-label>
        <input matInput [(ngModel)]="admin.email" placeholder="Escribe correo electrónico" [disabled]="editar">
      </mat-form-field>
      <div *ngIf="errors.email" class="invalid-feedback">{{ errors.email }}</div>

      <mat-form-field class="mat-input" appearance="outline" *ngIf="!editar">
        <mat-label>Contraseña</mat-label>
        <input matInput [(ngModel)]="admin.password" type="{{ inputType_1 }}" placeholder="Escribe contraseña">
        <mat-icon matSuffix class="eye-icon" (click)="showPassword()">{{hide_1 ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
      <div *ngIf="errors.password" class="invalid-feedback">{{ errors.password }}</div>

      <mat-form-field class="mat-input" appearance="outline" *ngIf="!editar">
        <mat-label>Confirmar contraseña</mat-label>
        <input matInput [(ngModel)]="admin.confirmar_password" type="{{ inputType_2 }}" placeholder="Confirma la contraseña">
        <mat-icon matSuffix class="eye-icon" (click)="showPwdConfirmar()">{{hide_2 ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
      <div *ngIf="errors.confirmar_password" class="invalid-feedback">{{ errors.confirmar_password }}</div>

      <mat-form-field class="mat-input" appearance="outline">
        <mat-label>Teléfono</mat-label>
        <input matInput [(ngModel)]="admin.telefono" mask='(000) 000-0000' placeholder="Escribe teléfono">
      </mat-form-field>
      <div *ngIf="errors.telefono" class="invalid-feedback">{{ errors.telefono }}</div>

      <mat-form-field class="mat-input" appearance="outline">
          <mat-label>RFC</mat-label>
          <input matInput [(ngModel)]="admin.rfc" placeholder="Escribe RFC" style="text-transform: uppercase;">
      </mat-form-field>
      <div *ngIf="errors.rfc" class="invalid-feedback">{{ errors.rfc }}</div>

      <mat-form-field class="mat-input" appearance="outline">
        <mat-label>Edad</mat-label>
        <input matInput [(ngModel)]="admin.edad" placeholder="Escribe la edad">
      </mat-form-field>
      <div *ngIf="errors.edad" class="invalid-feedback">{{ errors.edad }}</div>

      <mat-form-field class="mat-input" appearance="outline">
        <mat-label>Ocupación</mat-label>
        <input matInput [(ngModel)]="admin.ocupacion" placeholder="Escribe la ocupación">
      </mat-form-field>
      <div *ngIf="errors.ocupacion" class="invalid-feedback">{{ errors.ocupacion }}</div>

      <div class="section-buttons">
        <button class="btn btn-danger" (click)="regresar()">Cancelar</button>
        <button *ngIf="!editar" class="btn btn-primary" type="submit" (click)="registrar()">Registrar</button>
        <button *ngIf="editar" class="btn btn-primary" type="submit" (click)="actualizar()">Actualizar</button>
      </div>
    </div>
  </div>
</div>
