<div class="wrapper">
  <div class="section-home">
    <div class="body-home">
      <!-- Home para el admin -->
      <section class="home-admin" *ngIf="rol == 'administrador'">
        <app-admin-screen></app-admin-screen>
      </section>
      <!-- Home para el alumno -->
      <section class="home-alumno" *ngIf="rol == 'alumno'">
        <app-alumnos-screen></app-alumnos-screen>
      </section>
      <!-- Home para el maestro -->
      <section class="home-maestro" *ngIf="rol == 'maestro'">
        <app-maestros-screen></app-maestros-screen>
      </section>
    </div>
  </div>
</div>
