/*Todos los estilos para desktop*/
//Horizontal full pantalla
@media (min-width: 960px) and (orientation: landscape) {
  .wrapper{
    width: 100vw;
    height: 100vh;
    //Flex
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .section-left{
    width: 50%;
    height: 100%;
    //Flex
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    //Fondo de la imagen
    background-image: url("/assets/images/login-bg.png");
    //background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .logo-buap{
    width: 280px;
    height: 350px;
  }

  .logo-fcc{
    width: 500px;
    height: 180px;
  }

  .section-right{
    width: 50%;
    height: 100%;
    //Flex
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }

  .title{
    font-size: 32px;
    text-align: center;
    font-family: Nexa-Bold;
    letter-spacing: 0px;
    color: #231F20;
    text-transform: uppercase;
    opacity: 1;
  }

  .card{
    width: 27rem;
    height: 27.813rem;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: -8px 0px 0px #0000001A;
    border: 2px solid #3E3E3E;
    opacity: 1;
  }

  .card-body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 3rem;
  }

  input{
    width: 296px;
    height: 48px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #3E3E3E;
    opacity: 1;
  }

  .input-group-text{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #3E3E3E;
    opacity: 1;
    border-left: none!important;
    font-size: 1rem!important;
  }

  .pwd{
    border-right: none!important;
  }

  .form-check-label{
    text-align: left;
    font-family: Nexa-Bold;
    font-size: 16px;
    letter-spacing: 0px;
    color: #0092B8;
    opacity: 1;
    cursor: pointer;
  }

  .btn-primary{
    width: 208px;
    height: 48px;
    background-color: #0092B8!important;
    border-color: #0092B8!important;
    border-radius: 8px!important;
    opacity: 1;
    //Fuente
    text-align: center;
    font-family: Nexa-Bold;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
  }

  .btn-primary:hover {
    background-color: #017895!important;
    border-color: #017895!important;

  }

  .bi{
    cursor: pointer;
  }

}

//Vertical full pantalla
@media (max-width: 961px) and (orientation: portrait) {
  .wrapper{
    width: 100vw;
    height: 100vh;
    //Flex
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .section-left{
    width: 100%;
    height: 50%;
    //Flex
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    //Fondo
    //Fondo de la imagen
    background-image: url("/assets/images/login-bg.png");
    //background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .section-right{
    width: 100%;
    height: 50%;
    //Flex
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
  .logo-buap{
    width: 150px;
    height: 200px;
  }

  .logo-fcc{
    width: 410px;
    height: 130px;
  }

  .title{
    font-size: 32px;
    text-align: center;
    font-family: Nexa-Bold;
    letter-spacing: 0px;
    color: #231F20;
    text-transform: uppercase;
    opacity: 1;
  }

  .card{
    width: 25rem;
    height: 25.813rem;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: -8px 0px 0px #0000001A;
    border: 2px solid #3E3E3E;
    opacity: 1;
  }

  .card-body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 3rem;
  }

  input{
    width: 296px;
    height: 48px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #3E3E3E;
    opacity: 1;
  }

  .input-group-text{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #3E3E3E;
    opacity: 1;
    border-left: none!important;
    font-size: 1rem!important;
  }

  .pwd{
    border-right: none!important;
  }

  .form-check-label{
    text-align: left;
    font-family: Nexa-Bold;
    font-size: 16px;
    letter-spacing: 0px;
    color: #0092B8;
    opacity: 1;
    cursor: pointer;
  }

  .btn-primary{
    width: 208px;
    height: 48px;
    background-color: #0092B8!important;
    border-color: #0092B8!important;
    border-radius: 8px!important;
    opacity: 1;
    //Fuente
    //Fuente
    text-align: center;
    font-family: Nexa-Bold;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
  }

  .btn-primary:hover {
    background-color: #017895!important;
    border-color: #017895!important;

  }

  .bi{
    cursor: pointer;
  }
}

